<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <p>I am currently a student at Coding Dojo in Bellevue, WA. In February I star working at Microsoft as a Software Developer. Other than when my family moved to Ireland when I was 15 this is the best opportunity that I've ever had. Hopefully it will be as life changing as living in Europe for 15 years was!</p>
        <a href="/">Home</a>
        <a href="/projects">My Projects</a>
    </body>
</html>